<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <h1>Filter & Mixins</h1>
        <p>{{ text | toUpperCase | toLowerCase }}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <h3>Filter Products</h3>
        <button class="btn btn-success" @click="products.push('Mixins')">
          Add New Item
        </button>
        <input
          type="text"
          class="form-control mb-3 mt-3"
          placeholder="Press name product..."
          v-model="filterProduct"
        />
        <div class="card">
          <div class="card-body">
            <ul>
              <li v-for="(product, index) in filteredProducts" :key="index">
                {{ product }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-list></app-list>
  </div>
</template>

<script>
import { productMixin } from "./productMixin";
import List from "./List.vue";
export default {
  created() {
    console.log("Created!");
  },
  mixins: [productMixin],
  data() {
    return {
      text: "Hello everyone, Vue JS"
    };
  },
  filters: {
    toLowerCase(t) {
      return t.toLowerCase();
    }
  },
  components: {
    appList: List
  }
};
</script>

<style scoped></style>
