<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <h3>Filter Products From List Component</h3>
        <button class="btn btn-danger" @click="products.push('List')">
          Add New Item
        </button>
        <input
          type="text"
          class="form-control mb-3 mt-3"
          v-model="filterProduct"
        />
        <div class="card">
          <div class="card-body">
            <ul>
              <li v-for="(product, index) in filteredProducts" :key="index">
                {{ product }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { productMixin } from "./productMixin";
export default {
  created() {
    console.log("Created from List");
  },
  mixins: [productMixin]
};
</script>

<style scoped></style>
